{% extends 'base.html' %} 

{% block content %} 
    {% for user in user_list %} 
        {% for colname in user.column_set.all %}
            <p>{{colname}}</p>
        {% endfor %} 
    {% endfor %}

<div class="container d-flex mt-5" style="width: 100%">
	<div class="col">
		<h1 class="text-center">Users</h1>
		<table class="table table-striped mt-5">
			<thead>
				<tr>
					{% comment %}
					<th>#</th>
					{% endcomment %}
					<th class="text-center" scope="col">Email</th>
					<th class="text-center" scope="col">Role</th>
					<th class="text-center" scope="col">Phone</th>
					<th class="text-center" scope="col">Country</th>
					<th class="text-center" scope="col">City</th>
					<th class="text-center" scope="col">is_staff</th>
					<th class="text-center" scope="col">is_active</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for user in user_list %}
				<tr>
					{% comment %}
					<th scope="row">{{forloop.counter}}</th>
					{% endcomment %}
					<td class="text-center ml-5">
						<a href="{% url 'user:user_detail' user.id %}"
							>{{user.email}}</a
						>
					</td>
					<td class="text-center">{{user.role}}</td>
					<td class="text-center">{{user.phone}}</td>
					<td class="text-center">{{user.country}}</td>
					<td class="text-center">{{user.city}}</td>
					<td class="text-center">{{user.is_staff}}</td>
					<td class="text-center">{{user.is_active}}</td>
					<td>
						<a href="{% url 'user:user_update' user.id %} "
							>Update</a
						>
					</td>
					<td>
						<a href="{% url 'user:user_delete' user.id %}"
							>Delete</a
						>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="d-flex justify-content-center">
			<a
				href="{% url 'user:user_create' %}"
				class="d-block btn btn-primary btn-lg my-5"
				>Add New</a
			>
		</div>
	</div>
</div>

{% endblock content %}
