{% extends 'base.html' %} 

{% block content %} 
    {% for request in request_list %} 
        {% for colname in request.column_set.all %}
            <p>{{colname}}</p>
        {% endfor %} 
    {% endfor %}

<div class="container d-flex mt-5" style="width: 100%">
	<div class="col">
		<h1 class="text-center">Requests</h1>
		<table class="table table-striped mt-5">
			<thead>
				<tr>
					{% comment %}
					<th>#</th>
					{% endcomment %}
					<th class="text-center" scope="col">ID</th>
					<th class="text-center" scope="col">Name</th>
					<th class="text-center" scope="col">Type</th>
					<th class="text-center" scope="col">Total_area</th>
					<th class="text-center" scope="col">Created_at</th>
					<th class="text-center" scope="col">Client</th>
					<th class="text-center" scope="col">Company</th>
					<th class="text-center" scope="col">Status</th>
					<th class="text-center" scope="col">Service</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for request in request_list %}
				<tr>
					{% comment %}
					<th scope="row">{{forloop.counter}}</th>
					{% endcomment %}
					<td class="text-center">{{request.id}}</td>
					<td class="text-center ml-5">
						<a href="{% url 'request:request_detail' request.id %}"
							>{{request.name}}</a
						>
					</td>
					<td class="text-center">{{request.type_of_request}}</td>
					<td class="text-center">{{request.total_area}}</td>
					<td class="text-center">{{request.created_at}}</td>
					<td class="text-center">{{request.client}}</td>
					<td class="text-center">{{request.company}}</td>
					<td class="text-center">{{request.status}}</td>
					<td class="text-center">{{request.service}}</td>
					<td>
						<a href="{% url 'request:request_update' request.id %} "
							>Update</a
						>
					</td>
					<td>
						<a href="{% url 'request:request_delete' request.id %}"
							>Delete</a
						>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="d-flex justify-content-center">
			<a
				href="{% url 'request:request_create' %}"
				class="d-block btn btn-primary btn-lg my-5"
				>Add New</a
			>
		</div>
	</div>
</div>

{% endblock content %}
